@model LiveMedsEntity.Product

@{
    ViewBag.Title = "Delete";
}

@{
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductBuyingPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductBuyingPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductSellingPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductSellingPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductQuantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductQuantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductSold)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductSold)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductImagePath)
        </dt>

        <dd>
            <img class="" height="80px" width="100px" src="@Url.Content(Model.ProductImagePath)" alt="Image" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductFormulation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductFormulation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductPackagingType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductPackagingType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CategoryId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ManufacturerId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ManufacturerId)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
