@model IEnumerable<LiveMedsEntity.Product>
@{
    ViewBag.Title = "Test";
}


<br />
<div class="container-fluid" style="background-color:#fafafa;">
    
    <br /><br />
    @if(Model.Count() == 0)
    {
        <h3 style="text-align: center;">NO FEATURED PRODUCTS </h3>
    }
    else
    { 
        <h3 style="text-align: center;">FEATURED PRODUCTS FOUND </h3>
    }
    <!-- Product showing starts here -->

    <div id="products" class="container">
        <div class="row">

            <!-- Loop -->
            @foreach (var item in Model)
            {
                <div class="col-md-3 col-sm-4 col-xs-6">
                    <div class="product">
                        <a href='@string.Format("/Home/Details/{0}/", @Html.DisplayFor(modelItem => item.ProductId))'>
                            <figure>
                                <h4>
                                    @Html.DisplayFor(modelItem => item.ProductName)
                                </h4>
                                <img src="@Url.Content(item.ProductImagePath)" alt="">
                            </figure>
                        </a>
                        <div class="info">
                            <h3> @Html.DisplayFor(modelItem => item.ProductSellingPrice)  ‎৳</h3>
                            @if (item.ProductQuantity > 0)
                            {
                                <button onclick="addtocart(@item.ProductId)" class="btn btn-warning"><img src="~/SiteImages/cart.png" alt=""> ADD TO CART</button>
                            }
                            else
                            {
                                <img width="200px" height="80px" src="~/SiteImages/out-of-stock.png" />
                            }

                        </div>
                    </div>
                </div><!-- ./col-sm-4 -->
            }
            <!-- Loop End -->

        </div>
    </div>
</div>

@section styles{
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/mystyles.css" rel="stylesheet" type="text/css" />
}

    <script >
        function addtocart(id) {
            $.ajax({
                url: "/Home/AddtoCart/" + id,
                type: 'GET',
                success: function (data, status) {
                    $.ajax({
                        url: "/Home/AddtoCart/" + id,
                        type: 'GET',
                        success: function (data, status) {
                            // window.location.reload();
                            $.notify("Product Added To Cart !!!", {
                                type: "success",
                                allow_dismiss: false,
                                animate: {
                                    enter: 'animated fadeInRight',
                                    exit: 'animated fadeOutRight'
                                },
                                placement: {
                                    align: "right"
                                },
                                offset: {
                                    x: 50,
                                    y: 60
                                }
                            });

                            setTimeout(function() {
                                $.notifyClose();
                            }, 2000);
                            setTimeout(function() {
                                window.location.reload();
                            }, 2500);
                        }
                    });
                }
            });

        }
    </script>
