@model IEnumerable<LiveMedsEntity.Prescription>

@{
    ViewBag.Title = "prescription";
}

<h2>prescription</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PrescriptionCategoryName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PrescriptionCategoryName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PrescriptionId }) |
            @Html.ActionLink("Details", "Details", new { id=item.PrescriptionId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PrescriptionId })
        </td>
    </tr>
}

</table>
