@model IEnumerable<LiveMedsEntity.Order>

@{
    ViewBag.Title = "Index";
}

@{
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}
<h2>Index</h2>
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <strong>Delivery List</strong>
                </div>
                <div class="panel-body">
                    <table class="table table-striped">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.UserId)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Total)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.OrderTime)
                            </th>
                            @*<th>
                                @Html.DisplayNameFor(model => model.Delivered)
                            </th>*@
                            <th>Details</th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UserId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Total)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.OrderTime)
                                </td>
                                @*<td>
                                    @Html.DisplayFor(modelItem => item.Delivered)
                                </td>*@
                                <td>
                                    <a href="/Delivery/Details/@item.OrderId"><i class="fa fa-info-circle fa-lg" aria-hidden="true"></i></a>
                                </td>
                                
                            </tr>
                        }



                    </table>


                </div>
            </div>
        </div>
    </div>
    <a href="/adminHome">Back</a>
</div>

